.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories button {
  cursor: pointer;
  padding: 10px;
  background-color: #0290ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
