.form-container {
  margin: 50px 100px;
}

.form-container .header-title {
  color: darkgray;
}

.form-container .title {
  width: 40rem;
}

.form-container .author {
  width: 15rem;
}

form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

form input {
  padding: 5px;
}

.btn-add {
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  background-color: #0290ff;
  color: white;
  font-weight: 100;
}
